.parkCardContainer {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 8vw;

    .cardContainer {

        flex:0 0 20vw;
        position:relative;
        height:20vh;
        // top:2vh;
        // margin-right:4vw;
        // margin-left:4vw;
        // margin-top:4vh;
        // margin-bottom: 4vh;
        border: 2px solid $dark;

        .card{

            .parkImage {

                position:absolute;
                height: 100%;
                width: 100%;
                
            }
            .labelContainer{
                position:absolute;
    
                .heartIcon{
    
                }
                .label{
    
                }
            }
        }
    }
} 