
.parksContainer{

    position:relative;
    height: 100%;
    width: 100%;
    overflow: auto;

    .favoritesContainer{

        background-color: aquamarine;
        width:100%;
        height: 25vh;

    }

    .recentsContainer{

        background-color: orangered;
        width:100%;
        height: 25vh;

    }

    .reviewsContainer{

        background-color: green;
        width:100%;
        height: 40vh;

    }
}