
.parksContainer{

    position:relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .favoritesContainer{

        position:relative;
        background-color: aquamarine;
        width:100%;
        height: 30vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .leftArrow {
            @include carouselArrow('leftArrow');
        }
        .rightArrow {
            @include carouselArrow('rightArrow');
        }

        @import "./favorites/favoriteparks.scss";

    }

    .recentsContainer{

        background-color: orangered;
        width:100%;
        height: 30vh;

    }

    .reviewsContainer{

        background-color: green;
        width:100%;
        height: 40vh;

    }
}