.MyProfile {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.MyProfile .Container {
  position: relative;
  flex: 24%;
  width: 100%;
  z-index: 2;
}
.MyProfile .Container .Header {
  font-family: Tahoma;
  position: absolute;
  font-size: 5vw;
  font-weight: 400;
  top: 28%;
  left: 22%;
}
.MyProfile .Container .ImageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 31vh;
  width: 31vh;
  left: 1%;
}
.MyProfile .Container .ImageContainer .userAvatar {
  position: absolute;
  height: 27vh;
  width: 27vh;
  border-radius: 50%;
  border: 0.6vh solid;
  border-color: #212121;
  z-index: 2;
}
.MyProfile .Container .ImageContainer .Backing {
  position: absolute;
  height: 31vh;
  width: 31vh;
  border-radius: 50%;
  border: 0.6vh solid;
  border-color: #212121;
  border: solid 0.6vh #212121;
  background-color: #1D7874;
  z-index: 1;
}
.MyProfile .Container .DetailsContainer {
  position: absolute;
  height: 5vh;
  width: 30vw;
  top: 56%;
  left: 22%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.MyProfile .Container .DetailsContainer .BadgeContainer {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MyProfile .Container .DetailsContainer .BadgeContainer .Badge {
  font-family: Tahoma;
  position: absolute;
  font-size: 1.5vw;
  font-weight: 400;
}
.MyProfile .Container .DetailsContainer .CurrencyContainer {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MyProfile .Container .DetailsContainer .CurrencyContainer .Currency {
  font-family: Tahoma;
  position: absolute;
  font-size: 1.5vw;
  font-weight: 400;
}
.MyProfile .Container .AccentLine {
  position: absolute;
  width: 100%;
  height: 0.5vh;
  background-color: #1D7874;
  bottom: 0%;
}
.MyProfile .ProfileBody {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex: 70%;
  width: 100%;
  background-color: #E5E7E6;
}
.MyProfile .ProfileBody .ContentContainer {
  display: flex;
  flex-direction: row;
  height: 89%;
  max-height: 65vh;
  width: 90%;
  overflow: hidden;
  border: 0.3vh solid #D6D6D6;
  border-radius: 1%;
}
.MyProfile .ProfileBody .ContentContainer .TabNav {
  display: flex;
  flex-direction: column;
  background-color: #D6D6D6;
  flex: 10%;
  border-right: 2px solid #E5E7E6;
}
.MyProfile .ProfileBody .ContentContainer .TabNav .tabContainer {
  position: relative;
  flex: 25%;
  border-radius: 5%;
}
.MyProfile .ProfileBody .ContentContainer .TabNav .tabContainer .Tab {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  z-index: 1;
}
.MyProfile .ProfileBody .ContentContainer .TabNav .tabContainer .Tab .innerNav {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 13vh;
  width: 13vh;
  border-radius: 6.5vh;
}
.MyProfile .ProfileBody .ContentContainer .TabNav .tabContainer .Tab .innerNav .tabIcon {
  font-size: 4vh;
  color: #3AA8C1;
  margin: 0px;
}
.MyProfile .ProfileBody .ContentContainer .TabNav .tabContainer .Tab .innerNav .text {
  font-size: 3vh;
}
.MyProfile .ProfileBody .ContentContainer .TabNav .tabContainer .Tab .container {
  position: absolute;
  width: 3vw;
  height: 2vh;
  top: 2.5vh;
  left: 99%;
}
.MyProfile .ProfileBody .ContentContainer .TabNav .tabContainer .Tab .container .pointyBit {
  position: absolute;
  width: 2.5vw;
  height: 1.5vh;
  background-color: #D6D6D6;
  clip-path: polygon(0vw 0.25vh, 1.5vw 0.75vh, 0vw 1.5vh);
  z-index: 5;
}
.MyProfile .ProfileBody .ContentContainer .TabNav .tabContainer .Tab .container .borderElement {
  position: absolute;
  width: 2.8vw;
  height: 1.8vh;
  left: 0.1vw;
  background-color: #E5E7E6;
  clip-path: polygon(0vw 0vh, 1.75vw 0.75vh, 0vw 1.75vh);
  z-index: -1;
}
.MyProfile .ProfileBody .ContentContainer .Window {
  background-color: #D6D6D6;
  flex: 90%;
  height: 100%;
}

.FriendsListElement {
  position: absolute;
  z-index: 10;
  background-color: blue;
  height: 100%;
  right: 0%;
  width: 16%;
}

.FriendsListButton {
  position: absolute;
  z-index: 12;
  bottom: 10%;
  right: 5%;
}

.searchResult {
  display: inline-flex;
  right: 0%;
}
.searchResult .iconContainer {
  width: 10%;
  padding-right: 0.7em;
  margin: auto;
}
.searchResult .icon {
  transform: scale(1.5);
  margin: auto;
  padding-right: 0.3em !important;
  height: 100%;
}
.searchResult .icon.request:hover, .searchResult .icon.accept:hover {
  transform: scale(1.2);
  color: grey;
}
.searchResult .icon.sent {
  filter: grayscale(100%);
  opacity: 0.5;
}
.searchResult .userContainer {
  margin: auto;
  padding-left: 0.3em;
}
.searchResult .userContainer .title {
  font-size: 1em !important;
  padding-left: 0.3em !important;
  padding-right: 0.3em !important;
  margin-left: 0.2em !important;
  bottom: 10% !important;
}
.searchResult .userContainer .image {
  height: 36px !important;
  width: 36px !important;
  border-radius: 50% !important;
  border: 2px solid black;
}

.dogPawIcon1 {
  position: absolute;
  transform: scale(3);
  left: 40%;
}

.dogPawIcon2 {
  position: absolute;
  transform: rotate(55deg);
  left: 0%;
  bottom: 15%;
}

.dogPawIcon3 {
  position: absolute;
  transform: rotate(50deg);
  left: 10%;
  bottom: 16%;
}

.dogPawIcon4 {
  position: absolute;
  transform: rotate(40deg);
  left: 14%;
  bottom: 29%;
}

.dogPawIcon5 {
  position: absolute;
  transform: rotate(30deg);
  left: 25%;
  bottom: 32%;
}

.dogPawIcon6 {
  position: absolute;
  transform: rotate(28deg);
  left: 22%;
  bottom: 48%;
  color: green;
}

.dogPawIcon7 {
  position: absolute;
  transform: rotate(20deg);
  left: 34%;
  bottom: 50%;
  color: green;
}

.dogPawIcon8 {
  position: absolute;
  transform: rotate(25deg);
  left: 30%;
  bottom: 62%;
}

.dogPawIcon9 {
  position: absolute;
  transform: rotate(30deg);
  left: 40%;
  bottom: 68%;
  z-index: 3;
}

.dogPawIcon10 {
  position: absolute;
  transform: rotate(30deg);
  left: 38%;
  bottom: 83%;
  z-index: 3;
}

.dogPawIcon11 {
  position: absolute;
  transform: rotate(20deg);
  left: 48%;
  bottom: 84%;
  z-index: 3;
}

.dogPawIcon12 {
  position: absolute;
  transform: rotate(15deg);
  left: 46%;
  bottom: 97%;
  color: green;
  z-index: 3;
}

.dogPawIcon13 {
  position: absolute;
  transform: rotate(40deg);
  left: 95%;
  bottom: 40%;
  color: green;
  z-index: 3;
}

.parksContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.parksContainer .favoritesContainer {
  background-color: #E5E7E6;
  width: 100%;
  height: 30vh;
}
.parksContainer .favoritesContainer .carouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.parksContainer .favoritesContainer .carouselContainer .leftArrowContainer {
  position: relative;
  flex: 7%;
  height: 100%;
  background-color: #E5E7E6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.parksContainer .favoritesContainer .carouselContainer .leftArrowContainer:hover {
  cursor: pointer;
  background-color: #D6D6D6;
}
.parksContainer .favoritesContainer .carouselContainer .leftArrowContainer .icon {
  position: absolute;
  font-size: 14vh;
  left: -0.7vw;
}
.parksContainer .favoritesContainer .carouselContainer .rightArrowContainer {
  position: relative;
  flex: 7%;
  height: 100%;
  background-color: #E5E7E6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.parksContainer .favoritesContainer .carouselContainer .rightArrowContainer:hover {
  cursor: pointer;
  background-color: #D6D6D6;
}
.parksContainer .favoritesContainer .carouselContainer .rightArrowContainer:after {
  content: "";
  position: absolute;
  right: 100%;
  width: 20%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #E5E7E6 90%);
  z-index: 2;
}
.parksContainer .favoritesContainer .carouselContainer .rightArrowContainer .icon {
  position: absolute;
  font-size: 14vh;
  right: -0.7vw;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer {
  flex: 86%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  max-width: 86%;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .titleContainer {
  flex: 10%;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .titleContainer .title {
  top: 1.6vh;
  position: absolute;
  width: auto;
  font-size: 3vh;
  left: 1.5vw;
  font-weight: 400;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer {
  flex: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer {
  flex: 0 0 20vw;
  position: relative;
  height: 21vh;
  width: 16vw;
  display: flex;
  max-height: 21vh;
  max-width: 16vw;
  top: 0%;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 6vh;
  margin-bottom: 3vh;
  transition: margin-left 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer.hidden {
  opacity: 0;
  margin-left: -18vw;
  transform: scale(0);
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer .card .parkImage {
  width: 100%;
  height: 85%;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer .card .labelContainer {
  bottom: 0%;
  height: 15%;
  width: 100%;
  background-color: #91972A;
  display: flex;
  flex-direction: row;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer .card .labelContainer .iconContainer {
  flex: 20%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer .card .labelContainer .iconContainer .heartIcon {
  position: relative;
  font-size: 2.3vh;
  margin-left: 0.5vh;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer .card .labelContainer .iconContainer .heartIcon:hover {
  color: #D6D6D6;
  cursor: pointer;
  transform: scale(1.2);
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer .card .labelContainer .iconContainer .uncheckIcon {
  position: absolute;
  transform: scale(0.6);
  left: 40%;
  top: -30%;
  color: red;
  z-index: 1;
}
.parksContainer .favoritesContainer .carouselContainer .parkCardContainer .cardsContainer .cardContainer .card .labelContainer .label {
  height: 100%;
  flex: 80%;
  display: flex;
  align-items: center;
  font-size: 2.6vh;
  font-weight: 400;
}
.parksContainer .recentsContainer {
  background-color: orangered;
  width: 100%;
  height: 30vh;
}
.parksContainer .reviewsContainer {
  background-color: green;
  width: 100%;
  height: 40vh;
}

.home {
  width: 85%;
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.home .Header {
  font-family: Tahoma;
  position: absolute;
  font-size: 12vw;
  font-weight: 700;
  height: 40%;
  top: 30%;
}

.checkInModalContainer {
  position: absolute;
  top: 2vh;
  left: 65vh;
  height: 40vh;
  width: 30vw;
}
.checkInModalContainer .checkInButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.checkInModalContainer .checkInButton:hover {
  cursor: pointer;
}
.checkInModalContainer .checkInButton .icon {
  position: absolute;
  margin: 0px;
  top: 20vh;
  flex: 100%;
  color: #1D7874;
  height: auto;
  transform: scale(13);
}
.checkInModalContainer .checkInButton #checkInFeature1 {
  position: absolute;
  height: 23vh;
  width: 3vw;
  text-align: center;
  left: 6.5vw;
  top: 12vh;
  font-size: 30px;
  font-family: Tahoma;
  font-weight: 700;
  color: #91972A;
  transform: scale(2) rotate(330deg);
  opacity: 0;
  z-index: 2;
}
.checkInModalContainer .checkInButton #checkInFeature1:hover {
  opacity: 1;
}
.checkInModalContainer .checkInButton #checkInFeature2 {
  position: absolute;
  height: 23vh;
  width: 3vw;
  text-align: center;
  left: 12vw;
  top: 10vh;
  font-size: 30px;
  font-family: Tahoma;
  font-weight: 700;
  color: #91972A;
  transform: scale(2) rotate(340deg);
  opacity: 0;
  z-index: 2;
}
.checkInModalContainer .checkInButton #checkInFeature2:hover {
  opacity: 1;
}
.checkInModalContainer .checkInButton #checkInFeature3 {
  position: absolute;
  height: 23vh;
  width: 3vw;
  text-align: center;
  left: 15vw;
  top: 10vh;
  font-size: 30px;
  font-family: Tahoma;
  font-weight: 700;
  color: #91972A;
  transform: scale(2) rotate(20deg);
  opacity: 0;
  z-index: 2;
}
.checkInModalContainer .checkInButton #checkInFeature3:hover {
  opacity: 1;
}
.checkInModalContainer .checkInButton #checkInFeature4 {
  position: absolute;
  height: 23vh;
  width: 3vw;
  text-align: center;
  left: 20vw;
  top: 12vh;
  font-size: 30px;
  font-family: Tahoma;
  font-weight: 700;
  color: #91972A;
  transform: scale(2) rotate(30deg);
  opacity: 0;
  z-index: 2;
}
.checkInModalContainer .checkInButton #checkInFeature4:hover {
  opacity: 1;
}

.checkInText {
  position: fixed;
  top: 50%;
  right: 15%;
  font-size: 30px;
  font-family: Tahoma;
  font-weight: 700;
  text-align: center;
  margin-top: 200px;
}

.nav {
  position: absolute;
}
.nav.Container {
  height: 100%;
  width: 15%;
  right: 0%;
  display: flex;
  flex-direction: column;
}
.nav.Container .Menu {
  transition-duration: 0.5s;
  background-color: #212121;
  opacity: 0.95;
  width: 100%;
  flex: 90%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transform: translateX(100%);
}
.nav.Container .Menu.active {
  width: 100%;
  transform: translateX(0%);
  border-left: 2px solid rgba(33, 33, 33, 0.05);
}
.nav.Container .Menu .iconMenu {
  flex: 11%;
  display: flex;
  flex-direction: row;
}
.nav.Container .Menu .iconMenu .iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.nav.Container .Menu .iconMenu .iconContainer:hover {
  background-color: #D6D6D6;
  cursor: pointer;
}
.nav.Container .Menu .iconMenu .iconContainer .navIcon {
  position: relative;
  color: #3AA8C1;
  font-size: 2.4vw;
}
.nav.Container .Menu .iconMenu .iconContainer .navIcon .navIconStatus {
  position: absolute;
  bottom: -0.5vh;
  left: 3vh;
  font-size: 1.3vw;
}
.nav.Container .Menu .routingMenu {
  flex: 94%;
}
.nav.Container .Menu .routingMenu .menuElement {
  display: grid;
  width: 100%;
  height: 7vh;
  align-content: center;
  justify-content: center;
}
.nav.Container .Menu .routingMenu .menuElement .text {
  font-size: 3.5vh;
}
.nav.Container .Headcontainer {
  transition-duration: 0.5s;
  flex: 18%;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 999;
}
.nav.Container .Headcontainer .menuButtonContainer {
  position: relative;
  height: 100%;
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton {
  position: absolute;
  width: 6vh;
  height: 6vh;
  transition-duration: 0.5s;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton:hover {
  cursor: pointer;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton .icon-left {
  transition-duration: 0.5s;
  position: absolute;
  height: 0.5vh;
  width: 2.2vh;
  top: 3vh;
  content: "";
  background-color: #212121;
  right: 2.2vh;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton .icon-left:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 2.2vh;
  height: 0.5vh;
  background-color: #212121;
  top: 1.5vh;
  content: "";
}
.nav.Container .Headcontainer .menuButtonContainer .navButton .icon-left:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 2.2vh;
  height: 0.5vh;
  background-color: #212121;
  top: -1.5vh;
  content: "";
}
.nav.Container .Headcontainer .menuButtonContainer .navButton .icon-right {
  transition-duration: 0.5s;
  position: absolute;
  height: 0.5vh;
  width: 2.2vh;
  top: 3vh;
  content: "";
  background-color: #212121;
  right: 0vh;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton .icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 2.2vh;
  height: 0.5vh;
  background-color: #212121;
  top: 1.5vh;
  content: "";
}
.nav.Container .Headcontainer .menuButtonContainer .navButton .icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 2.2vh;
  height: 0.5vh;
  background-color: #212121;
  top: -1.5vh;
  content: "";
}
.nav.Container .Headcontainer .menuButtonContainer .navButton.active .icon-left {
  transition-duration: 0.5s;
  background: transparent;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton.active .icon-left:before {
  transform: rotateZ(-45deg) scaleX(1.2) translate(0.3vh, -0.3vh);
  background-color: #E5E7E6;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton.active .icon-left:after {
  transform: rotateZ(45deg) scaleX(1.2) translate(0.3vh, 0.3vh);
  background-color: #E5E7E6;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton.active .icon-right {
  transition-duration: 0.5s;
  background: transparent;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton.active .icon-right:before {
  transform: rotateZ(45deg) scaleX(1.2) translate(-0.3vh, -0.3vh);
  background-color: #E5E7E6;
}
.nav.Container .Headcontainer .menuButtonContainer .navButton.active .icon-right:after {
  transform: rotateZ(-45deg) scaleX(1.2) translate(-0.3vh, 0.3vh);
  background-color: #E5E7E6;
}
.nav.Container .Headcontainer .imgContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  flex: 50%;
}
.nav.Container .Headcontainer .imgContainer .userAvatar {
  position: absolute;
  height: 11vh;
  width: 11vh;
  border-radius: 50%;
  border: 0.6vh solid;
  border-color: #212121;
  transition-duration: 0.8s;
}

.selectedNav {
  background-color: #D6D6D6;
}

.site {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #E5E7E6;
}

.dpc {
  margin-bottom: 10px;
}
.dpc .Name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.dpc .Img {
  max-width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto;
}
.dpc .Container {
  height: 650px;
  border: 3px solid black;
  padding: 20px;
}

.dog-parks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.about .Text {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 50px;
}
.about .Img {
  max-width: 100%;
  height: 550px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}
.about .footer {
  text-align: center;
  padding: 10px;
}
.about .dog-bone-button {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4spXO4VkbttJgT75qnhruHkdPudkAti-aAXpZholErhvZme8t0QGxzPXSrj--HRkZ1NE&usqp=CAU");
  background-size: 150px;
  background-repeat: no-repeat;
  border: none;
  width: 150px;
  height: 70px;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
