.carouselContainer{

    position: relative;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .leftArrow {
        @include carouselArrow('leftArrow');
    }
    .rightArrow {
        @include carouselArrow('rightArrow');
    }

    .parkCardContainer {

        flex: 86%;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        position:relative;
    
        .titleContainer{
            
            flex: 10%;
    
            .title{
                top: 1.6vh;
                position:absolute;
                width: auto;
                font-size:3vh;
                left:1.5vw;
                font-weight: 400;
    
            }
        }
    
        .cardsContainer{
    
            flex:90%;
    
            @import '../../../common/style-templates/cardContainerTemplate.scss';
    
            .cardContainer0 {
                @extend .cardContainer;
                margin-left: 0%;
            }
            .cardContainer1 {
                @extend .cardContainer;
                left: 17vw;
            }
            .cardContainer2 {
                @extend .cardContainer;
                left: 36vw;
            }
            .cardContainer3 {
                @extend .cardContainer;
                left: 55vw;

                &:after {
                    content: "";
                    position: absolute;
                    top: -5%;
                    right: 25%;
                    width: 15%;
                    height: 110%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0), $light 90%);
                  }
            }
    
        }
    }
}