
.parksContainer{

    position:relative;
    height: 80%;
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
    border: 4px solid $light;

    @import "./title.scss";

    .favoritesContainer{

        background-color: $light;
        transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out, transform 1s ease-in-out;
        width:100%;
        height: 34vh;
        position:relative;
        display:flex;
        flex-direction: row;
        border-top: solid 3px $accent2;
        border-bottom: solid 3px $accent2;

        @import "./carousel.scss";

        &.hidden{
            height:0;  
            
            .carouselContainer{
                transform: scale(0);
            }
        }
    }

    .recentsContainer{
        background-color: $light;
        width:100%;
        height: 34vh;
        position:relative;

        display:flex;
        flex-direction: row;
        border-top: solid 3px $accent2;
        border-bottom: solid 3px $accent2;
        transition-duration: 0.5s;

        @import "./carousel.scss";

        &.hidden{
            height:0;
            
            .carouselContainer{
                transform: scale(0);
            }
        }
    }

    .reviewsContainer{
        background-color: $light;
        transition-duration: 0.5s;
        width:100%;
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: solid 3px $accent2;
        border-bottom: solid 3px $accent2;

        @import "./reviewParks.scss";
        
        &.hidden{
            height:0;
            
            .cardsContainer{
                transform: scale(0);
            }
        }
    }

}