
.parksContainer{

    position:relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;

    .favoritesContainer{

        background-color: $light;
        width:80%;
        height: 30vh;
        position:relative;
        display:flex;
        flex-direction: row;
        margin-top: 6vh;

        @import "./carousel.scss";

    }

    .recentsContainer{
        background-color: $light;
        width:80%;
        height: 30vh;
        position:relative;
        display:flex;
        flex-direction: row;

        @import "./carousel.scss";
    }

    .reviewsContainer{
        background-color: $light;
        width:80%;
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6vh;

        @import "./reviewParks.scss";
    }
}