
.parksContainer{

    position:relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .favoritesContainer{

        background-color: $light;
        width:100%;
        height: 30vh;

        @import "./carousel.scss";

    }

    .recentsContainer{
        background-color: $light;
        width:100%;
        height: 30vh;

        @import "./carousel.scss";
    }

    .reviewsContainer{
        background-color: $light;
        width:100%;
        min-height: 40vh;
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .titleContainer{

            position:absolute;
            left:0;
            display:flex;
            left:7.5vw;
            flex-direction: row;
            width: auto;
            height: auto;
            margin-bottom: 4vh;

            .title{
                font-size: 3vh;
            }
            .starIcon{
                font-size: 2.3vh;
            }
        }

        .cardsContainer{
            
            top:10%;
            width:80%;
            display:flex;
            flex-direction: column;

            .container{
            
                position: relative;
                width:100%;
                min-height: 16vh;
                border: 4px solid $hovered;
                display:flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 4vh;
                margin-bottom: 2vh;
    
                .rating{
                    position: absolute;
                    top: 3vh;
                    left: 6.7vw;
                    font-size: 2.4vh;
                }
                .username{
                    position:absolute;
                    right: 6.7vw;
                    top: 3vh;
                    font-size: 1.8vh;
                }
                .textContainer{

                    position:absolute;
                    background-color: $hovered;
                    border-radius: 2%;
                    width: 80%;
                    min-height: 25%;
                    height: auto;
                    top: 60%;
                    display:flex;
                    justify-content: center;
                    align-items: center;

                    .text{
                        font-size: 2.4vh;
                        text-align: center;
                        font-style: italic;
                        line-height: 1.2;
                    }
                }
                .dogPark{
                    position:absolute;
                    top: 3vh;
                    font-size: 2.4vh;
                    font-weight: bold;
                }
                .modalLink{
                    position:absolute;
                    top: 50%;
                    right: 3vw;
                    font-size: 7vh;
                    transition: 0.2s transform ease-in-out;

                    &:hover{
                        cursor: pointer;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}