.titleContainer{

    position:absolute;
    left:0;
    display:flex;
    left:7.5vw;
    flex-direction: row;
    width: auto;
    height: auto;
    margin-bottom: 4vh;

    .title{
        font-size: 3vh;
    }
    .starIcon{
        font-size: 2.3vh;
    }
}

.cardsContainer{
    
    top:10%;
    width:80%;
    display:flex;
    flex-direction: column;

    .container{
    
        width:100%;
        min-height: 16vh;
        border-right: 0px;
        margin-top: 4vh;
        margin-bottom: 2vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .content{

            border: 4px solid $hovered;
            flex: 96%;
            position: relative;
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            border-right: solid 2px $hovered;

            .rating{
                position: absolute;
                top: 4vh;
                left: 6.7vw;
                font-size: 2.4vh;
            }
            .username{
                position:absolute;
                right: 6.7vw;
                top: 4vh;
                font-size: 1.8vh;
            }
            .textContainer{

                position:absolute;
                top:40%;
                background-color: $hovered;
                border-radius: 2%;
                width: 80%;
                display:flex;
                justify-content: center;
                align-items: center;
                margin: 2vh;

                .text{
                    font-size: 2.4vh;
                    text-align: center;
                    font-style: italic;
                    line-height: 1.2;
                }
            }
            .dogPark{
                position:absolute;
                top: 3vh;
                font-size: 2.4vh;
                font-weight: bold;
            }
        }
        .linkContainer{
            
            flex: 6%;
            display: flex;
            align-items: center;
            border-right: solid 4px $hovered;
            border-top: solid 4px $hovered;
            border-bottom: solid 4px $hovered;
            transition: 0.2s transform ease-in-out;

            &:hover{
                cursor: pointer;
                transform: scaleX(1.3) translateX(1vw);
            }
            
            .modalLink{
                font-size: 20vh;
                transition: 0.2s transform ease-in-out;
            }
        }
    }
}