.parkCardContainer {

    flex: 86%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position:relative;

    .titleContainer{
        
        flex: 10%;

        .title{
            top: 1vh;
            position:absolute;
            width: auto;
            font-size:small;
            left:3vw;

        }
    }

    .cardsContainer{

        flex:90%;

        @import './favCardContainer.scss';

        .cardContainer0 {
            @extend .cardContainer;
        }
        .cardContainer1 {
            @extend .cardContainer;
            left: 20vw;
        }
        .cardContainer2 {
            @extend .cardContainer;
            left: 40vw;
        }
        .cardContainer3 {
            @extend .cardContainer;
            left: 60vw;
        }

    }
}