.parkCardContainer {

    height: 100%;
    width: 100%;

    @import './favCardContainer.scss';

    .cardContainer0 {
        @extend .cardContainer;
    }
    .cardContainer1 {
        @extend .cardContainer;
        left: 24vw;
    }
    .cardContainer2 {
        @extend .cardContainer;
        left: 48vw;
    }
    .cardContainer3 {
        @extend .cardContainer;
        left: 72vw;
    }
}