.AccentLineContainer{
    position:relative;
    border: 2px red solid;
    width: 100%;
    height: 38vh;
    z-index: 1;

    .AccentLine{
        position: absolute;
        border-top: solid .6vh $dark;
        border-bottom: solid .6vh $dark;
        width: 100%;
        height: 3.2vh;
        top: 58%;
    }
    .cutout{

        @include userIcon(36vh);

        top: 2%;
        left : .8%;
        border: solid .6vh $dark;
        background-color: $light;
        z-index: 1;

    }
    .cover1{
        position:absolute;
        background-color: $light;
        z-index: 2;
        // border: solid 3px green;
        height: 2.25vh;
        width: 3vw;
        top:59.3%;
    }
    .cover2{
        position:absolute;
        z-index: 2;
        // border: solid 3px green;
        height: 2.25vh;
        width: 3vw;
        top:59.3%;
        left: 19.5%;
        background-color: $light;
    }
}