.Container{

    position:relative;
    flex:24%;
    width: 100%;
    z-index: 2;

    .Header{
        font-family: Tahoma;
        position: absolute;
        font-size: 5vw;
        font-weight: 400;
        top: 28%;
        left: 22%;
    }
    .ImageContainer{
        @include AvatarContainer();

        position:absolute;
        height:31vh;
        width:31vh;
        left : 1%;
        
        .userAvatar{
            @include userIcon(27vh);
            z-index: 2;
        }
        .Backing{
            @include userIcon(31vh);

            border: solid .6vh $dark;
            background-color: $accent2;
            z-index: 1;
        }
    }

    .DetailsContainer{
        position: absolute;
        height: 5vh;
        width: 30vw;
        top: 56%;
        left: 22%;
        display:flex;
        flex-wrap: nowrap;
        flex-direction: row;

        .BadgeContainer{

            flex:50%;
            display:flex;
            justify-content: center;
            align-items: center;

            .Badge{
                
                font-family: Tahoma;
                position: absolute;
                font-size: 1.5vw;
                font-weight: 400;
            }
        }

        .CurrencyContainer{

            flex:50%;
            display:flex;
            justify-content: center;
            align-items: center;

            .Currency{
                
                font-family: Tahoma;
                position: absolute;
                font-size: 1.5vw;
                font-weight: 400;
            }
        }
    }
    .AccentLine{
        position: absolute;
        // border-top: solid .1vh $dark;
        // border-bottom: solid .1vh $dark;
        width: 100%;
        height: 0.5vh;
        background-color: $accent2;
        bottom: 0%;

    //     .cover1{
    //         position:absolute;
    //         z-index: 2;
    //         background-color: $accent2;
    //         // border: solid 3px green;
    //         height: 2vh;
    //         width: 1vw;
    //         left: 2.4vw;
    //         top:5%;
    //     }
    //     .cover2{
    //         position:absolute;
    //         z-index: 2;
    //         background-color: $accent2;
    //         // border: solid 3px green;
    //         height: 2.1vh;
    //         width: 2vh;
    //         top:1%;
    //         left: 16.8%;
    //     }
    }

}