.ProfileBody{

    position:relative;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex: 70%;
    width: 100%;
    background-color: $light;

    .ContentContainer {

        display:flex;
        flex-direction: row;
        height: 87%;
        max-height: 65vh;
        width: 90%;
        overflow: hidden;
        // border:.3vh solid $hovered;
        border: 3px solid $accent3;
        border-radius:1%;

        .TabNav{
            display:flex;
            flex-direction: column;
            background-color: $hovered;
            flex:10%;
            border-right: 2px solid $light;

            .tabContainer{
                position:relative;
                flex:25%;
                border-radius: 5%;

                .Tab{
                
                    position:absolute;
                    height:100%;
                    width: 100%;
                    display:flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    z-index: 1;
                    background-color: $accent2;
                    
                    .innerNav{

                        position:relative;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        height:13vh;
                        width: 13vh;
                        border-radius: 6.5vh;

                        .tabIcon{
                            font-size: 4vh;
                            color: $hovered;
                            margin: 0px;
                        }

                        .text{
                            font-size: 3vh;
                            color: $light;
                        }  
                    }
                    .container{
        
                        position:absolute;
                        width:3vw;
                        height:2vh;
                        top: 2.5vh;
                        left:99%;
                        z-index:10;
    
                        .pointyBit{
    
                            position:absolute;
                            width:2.5vw;
                            height:1.5vh;
                            background-color: $accent2;
                            clip-path: polygon(0vw .25vh,1.5vw 0.75vh,0vw 1.5vh);
                            z-index: 10;
    
                        }
                        .borderElement{
                            position:absolute;
                            width:2.8vw;
                            height:1.8vh;
                            left:.1vw;
                            background-color: $accent2;
                            clip-path: polygon(0vw 0vh,1.75vw .75vh,0vw 1.75vh);
                            z-index: 9;
                        }
                    }
                }
            }

        }
        .Window{
            background-color: $hovered;
            flex: 90%;
            height: auto;
            display:flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            
        }
    }

}