
/////////////////////////////////////////////////
///                Profile Screen
/////////////////////////////////////////////////

.MyProfile {
    height:100%;
    width:100%;
    position:absolute;
    
    .Container{

        background-color: aqua;
        height:22vh;
        width: 100%;
        position:absolute;

        .Header{

        }
        .ImageContainer{
            border: 2px solid red;
            height:6vh;
            width:6vw;    
        }
        .DetailsContainer{

        }
    }
}
/// .accountHeader{
//   font-size: 50px;
//   margin: 25px;
//   text-align: left;
//   margin-top: 100px;
//   font-family: Tahoma;
//   font-weight: 700;
// }

// .myAcctBack{
//   position: absolute;
//   height:100%;
//   width: 100%;
// }