/////////////////////////////////////////////////
///                Mixins 
/////////////////////////////////////////////////

@mixin icon-hover-effect {
    &:hover {
        transform: scale(1.2);
        color: grey
    }
}

@mixin checkInIconStyle($height, $width, $left, $top, $transform, $font-size,$display: null, $vertical-align: null) {
    position: absolute;
    height: $height;
    width: $width;
    text-align: center;
    left: $left;
    top: $top;
    font-size: 30px;
    font-family: Tahoma;
    font-weight: 700;
    color: $accent1;
    font-size: $font-size;
    transform: scale(2) #{$transform};
    opacity: 0;
    z-index: 2;
}

@mixin pawIconStyle($transform, $left, $bottom: null, $color: null, $z-index: null ) {
    position: absolute;
    transform: $transform;
    left : $left;
    bottom: $bottom;
    color: $color;
    z-index: $z-index;
}

@mixin hamIcon($height, $width, $top) {

    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: $top;
    content: "";
    background-color: $dark;
}

@mixin hamIconBefore($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    top: $top;
    content:"";
}

@mixin hamIconAfter($height, $width, $top){
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    top: $top;
    content:"";
}

@mixin AvatarContainer() {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@mixin userIcon($height,) {
        position: absolute;
        height: $height;
        width: $height;
        border-radius: 50%;
        border: 0.6vh solid;
        border-color: #212121;
}

@mixin arrowIconContainer($class,){

    position:relative;
    flex: 7%;
    height: 100%;
    background-color: $light;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    z-index: 1;

    &:hover {
        .icon {
            transform: translateX(-0.5vw) scale(1.2);
        }
    }

    @if $class == 'right'{

        &:after {
            content: "";
            position: absolute;
            right: 100%;
            width: 80%;
            height: 100%;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), $light 90%);
            z-index: 2;
        }

        &:hover {
            .icon {
                transform: translateX(0.5vw) scale(1.2);
                
            }
        }
    }
    
    .icon{

        position: absolute;
        font-size: 14vh;
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
        z-index: 1;

        &.hidden{
            transform: scale(0);
            opacity: 0;
        }

        @if $class == 'left'{
            left: -.7vw;
        }
        @if $class == 'right'{
            right: -.7vw;
        }
    }
}