/////////////////////////////////////////////////
///                Mixins 
/////////////////////////////////////////////////

@mixin icon-hover-effect {
    &:hover {
        transform: scale(1.2);
        color: grey
    }
}

@mixin checkInIconStyle($height, $width, $left, $top, $transform, $display: null, $vertical-align: null) {
    position: absolute;
    height: $height;
    width: $width;
    text-align: center;
    left: $left;
    top: $top;
    font-size: 30px;
    font-family: Tahoma;
    font-weight: 700;
    color: $accent1;
    transform: scale(2) #{$transform};
    opacity: 0;
    z-index: 2;
}

@mixin pawIconStyle($transform, $left, $bottom: null, $color: null, $z-index: null ) {
    position: absolute;
    transform: $transform;
    left : $left;
    bottom: $bottom;
    color: $color;
    z-index: $z-index;
}

@mixin hamIcon($height, $width, $top) {

    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: $top;
    content: "";
    background-color: $dark;
}

@mixin hamIconBefore($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    top: $top;
    content:"";
}

@mixin hamIconAfter($height, $width, $top){
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    top: $top;
    content:"";
}

@mixin AvatarContainer() {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@mixin userIcon($height,) {
        position: absolute;
        height: $height;
        width: $height;
        border-radius: 50%;
        border: 0.6vh solid;
        border-color: #212121;
}

@mixin carouselArrow($class) {

        position:relative;
        width: 7%;
        height: 100%;
        background-color: $light;

        &::before {
            position:absolute;
            top:11vh;
            content: "";
            width:3vw;
            height: 10vh;
            background-color: $dark;
            
            @if $class == 'leftArrow' {
                left:1vw;
                clip-path: polygon(0vw 5vh,3vw 0vh,3vw 10vh);
            }
            @if $class == 'rightArrow'{
                right: 1vw;
                clip-path: polygon(3vw 5vh,0vw 0vh,0vw 10vh);
            }
        }
        &:hover{
            cursor: pointer;
            background-color:$hovered;
        }

        &::after{
            position:absolute;
            top:11vh;
            width:5vh;
            height:9vh;
            content:"";
            background-color: $light;
            @if $class == 'leftArrow' {
                left:1.3vw;
                clip-path: polygon(0vw 5vh,2.5vw 1vh,2.5vw 9vh);
            }
            @if $class == 'rightArrow'{
                right: 0.85vw;
                clip-path: polygon(2.5vw 5vh,0vw 1vh,0vw 9vh);
            }
        }
}