/////////////////////////////////////////////////
///                Variables
/////////////////////////////////////////////////

$dark: #212121;
$light: #E5E7E6;
$accent1: #91972A;
$accent2: #1D7874;
$accent3: #3AA8C1;
$accent4: #CE4027;
$hovered: #D6D6D6;