.carouselArrowContainer {

    position:relative;
    width: 7%;
    height: 100%;
    background-color: $light;

    &:hover{
        cursor: pointer;
        background-color:$hovered;
    }

    // &::after{
    //     position:absolute;
    //     top:11vh;
    //     width:5vh;
    //     height:9vh;
    //     content:"";
    //     background-color: $light;
    //     @if $class == 'leftArrow' {
    //         left:1.3vw;
    //         clip-path: polygon(0vw 5vh,2.5vw 1vh,2.5vw 9vh);
    //     }
    //     @if $class == 'rightArrow'{
    //         right: 0.85vw;
    //         clip-path: polygon(2.5vw 5vh,0vw 1vh,0vw 9vh);
    //     }
    // }

    // &::before {
    //     position:absolute;
    //     top:11vh;
    //     content: "";
    //     width:3vw;
    //     height: 10vh;
    //     background-color: $dark;
        
    //     @if $class == 'leftArrow' {
    //         left:1vw;
    //         clip-path: polygon(0vw 5vh,3vw 0vh,3vw 10vh);
    //     }
    //     @if $class == 'rightArrow'{
    //         right: 1vw;
    //         clip-path: polygon(3vw 5vh,0vw 0vh,0vw 10vh);
    //     }
    // }
}