@import "common/variables.scss";
@import "common/mixins.scss";
@import "common/hovered.scss";

@import "components/MyProfile/profile.scss";
@import "components/MyProfile/friends.scss";
@import "components/MyProfile/pawbacking.scss";

@import "components/MyProfile/ProfileParks/parks.scss";

@import "components/home/home.scss";
@import "components/home/search.scss";
@import "components/home/checkin.scss";

@import "components/NavBar.scss";

/////////////////////////////////////////////////
///                SiteWide Content 
/////////////////////////////////////////////////

.site {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $light;
}

/////////////////////////////////////////////////
///               Dog Parks Screen
/////////////////////////////////////////////////

.dpc {
    margin-bottom: 10px;

    .Name {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
    .Img {
        max-width: 100%;
        height: 500px;
        display: block;
        margin: 0 auto;
    }
    .Container {
        height: 650px;
        border: 3px solid black;
        padding: 20px;
    }
}

.dog-parks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

// .dptitle{
//   font-size: 30px;
//   text-align: center
// }

// .dpHeader{
//     font-size: 50px;
//     margin: 25px;
//     text-align: center;
//     margin-top: 100px;
//     font-family: Tahoma;
//     font-weight: 700;
// }

/////////////////////////////////////////////////
///               About Us Screen
/////////////////////////////////////////////////

.about {
    .Text {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
        padding: 50px;
    }
    .Img {
        max-width: 100%;
        height: 550px;
        margin-bottom: 10px;
        display: block;
        margin: 0 auto;
    }
    .footer{
        text-align: center;
        padding:10px;
    }
    .dog-bone-button {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4spXO4VkbttJgT75qnhruHkdPudkAti-aAXpZholErhvZme8t0QGxzPXSrj--HRkZ1NE&usqp=CAU');
        background-size: 150px;
        background-repeat: no-repeat;
        border: none;
        width: 150px;
        height: 70px;
        cursor: pointer;
    }
}
